.CustomerPlanPage{
  padding:0 50px;
  max-width: 1040px;
}

.CustomerPlanPage .actions{
  width:100%;
  margin-bottom: 30px;
}

.CustomerPlanPage .actions .dateColumn{
  width:150px;
}

.CustomerPlanPage .actions .doneColumn{
  width:30px;
}

.CustomerPlanPage .actions thead{
  font-weight:bold;
}

.CustomerPlanPage .newAction, .CustomerPlanPage .goal{
  display:grid;
  grid-template-columns: auto 110px;
  width: 100%;
  margin: 20px 0 30px;
}

.CustomerPlanPage .goal p{
  margin:0;
}
